<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Backing track generator</title>
    <link rel="stylesheet" href="static/style.css">
</head>
<body>
    <div class="container">
        <h1>Backing track generator</h1>

        <!-- Dropdown Menu (Top Right) -->
        <div id="dropdown-container">
            <button id="dropdown-button">\/ Songs</button>
            <ul id="dropdown-menu" style="display: none;"></ul>
        </div>

        <p id="textbox">Notes to chill and practice to</p>

        <pre id="loading-spinner" style="display: none;">[|]</pre>

        <div class="player">
            <audio id="audio-player"></audio>
            <div class="controls">
                <div class="top-controls">
                    <button id="generate-button">Gen</button>

                    <input type="text" id="chord_progression" placeholder="Enter chord progression...">
                </div>
                <div class="bottom-controls">
                    <button id="play-button"> II </button>
                    <div class="volume-wrapper">
                        <div class="volume-bar-container">
                            <span id="volume-display">|==========|</span>
                            <input type="range" id="volume-slider" min="0" max="1" step="0.1" value="1">
                        </div>
                    </div>
                    <button id="skip"> >>I </button>
                </div>
            </div>
        </div>
    </div>
<pre id="ascii-visualizer"> </pre>
<script src="static/visualizer.js"></script>
<script src="static/scripts.js"></script>
</body>
</html>